/* src/components/Section6/Section6.module.css */
.kioskSection6 {
  position: relative;
  height: 800vh;
  overflow: hidden;
}

.kioskWrapper {
  display: flex;
  height: 100vh;
}

.kioskImageContainer {
  width: 50%;
  position: relative; /* 절대 위치를 위한 상대 위치 설정 */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 오른쪽 정렬로 변경 */
}

.kioskImage {
  position: absolute; /* 이미지 겹치기 */
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  transition: opacity 1s ease, filter 1s ease;
  border-radius: 40px;
}

.kioskDescriptionContainer {
  width: 50%;
  position: relative; /* 디스크립션을 이미지 위에 표시하기 위해 설정 */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 텍스트 수직 정렬을 위로 */
  height: 100%;
  z-index: 10; /* 디스크립션이 이미지 위에 표시되도록 설정 */
}

.kioskDescription {
  position: absolute; /* 디스크립션 겹치기 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  opacity: 0; /* 초기 상태에서 숨김 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45vh;
}

.kioskSubtitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.kioskDescription p {
  font-size: 2rem;
  color: #666;
  text-align: left;
}

/* 강조 텍스트 스타일 */
.highlight {
  color: white;
}

/* 반응형 조정 */
@media (max-width: 1200px) {
  .kioskWrapper {
    flex-direction: column;
    height: auto;
  }

  .kioskImageContainer,
  .kioskDescriptionContainer {
    width: 100%;
    height: auto;
  }

  .kioskImage {
    max-width: 80vw;
    max-height: 60vh;
  }

  .kioskDescription {
    width: 90%;
  }

  .kioskSubtitle {
    font-size: 2rem;
  }

  .kioskDescription p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .kioskSubtitle {
    font-size: 1.5rem;
  }

  .kioskDescription p {
    font-size: 1.5rem;
  }
}
