/* Section5.module.css */

.posSection5 {
  position: relative;
  padding: 0 10%;
  height: 200vh;
  z-index: 1;
  background: linear-gradient(to bottom, #202020, #000003);
}

.posTitleContainer {
  position: absolute;
  top: 0;
  width: 80%;
  text-align: center;
  z-index: 2; /* 이미지 컨테이너보다 위에 표시 */
  color: #999999;
}

.posHorizontalScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 500vw;
  overflow: hidden;
  z-index: 1;
  padding: 5% 10%;
  margin-top: 3%;
}

.posImageContainer {
  display: flex;
  flex-direction: row;
  gap: 1.2%;
  align-items: center;
  height: 100%;
  will-change: transform; /* 성능 최적화를 위한 속성 */
}

.posImageBox {
  width: 60vw; /* 상대 단위 사용 */
  flex-shrink: 0; /* 축소 방지 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  border-radius: 50px;
}

.posImageBox img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 50px;
}

/* 반응형 조정 */
@media (max-width: 1200px) {
  .posImageBox {
    width: 90vw; /* 작은 화면에 맞게 너비 조정 */
  }

  .posTextContainer p {
    font-size: 2rem; /* 폰트 크기 축소 */
  }
}

@media (max-width: 768px) {
  .posImageBox {
    width: 100vw; /* 전체 뷰포트 너비 사용 */
  }

  .posTextContainer p {
    font-size: 1.5rem; /* 추가 폰트 크기 축소 */
  }
}
