/* Section3.module.css */
.section3 {
  display: flex;
  flex-direction: column;
  height: 220vh; /* 섹션 높이 220vh로 수정 */
  padding: 0 10%;
  overflow: hidden;
  box-sizing: border-box;
}

.sloganContainer {
  flex: 0 0 80vh; /* 상단 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 애니메이션을 위한 상대 위치 */
}

.sloganContainer p {
  font-size: 7rem;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.highlight {
  font-size: 6rem; /* 애니메이션 시작 폰트 크기와 일치 */
  font-weight: 700;
}

.problemContainer,
.solutionContainer {
  flex: 0 0 50vh; /* 각 컨테이너가 60vh 차지 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.problemImageContainer,
.solutionImageContainer,
.problemTextContainer,
.solutionTextContainer {
  flex: 1;
  padding: 10px;
}

/* 이미지 스타일 */
.problemImage,
.solutionImage {
  max-width: 70%;
  height: auto;
  object-fit: contain;
  border-radius: 40px;
}

/* problemImage만 오른쪽 정렬 */
.problemImage {
  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 오른쪽 정렬 */
  display: block; /* 블록 레벨 요소로 설정 */
}

/* 또는 problemImageContainer를 사용하여 정렬 */
.problemImageContainer {
  display: flex;
  justify-content: flex-end; /* 컨테이너 내에서 오른쪽 정렬 */
}

/* 텍스트 스타일 통일 */
.problemTextContainer p,
.solutionTextContainer p {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
  margin: 5px 0;
  color: #A0A0A0;
}

.emphasize {
  color: white;
}

.summaryContainer {
  flex: 0 0 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  margin-top: auto;
  order: 4;
}

.summaryContainer p {
  font-size: 5rem;
  font-weight: 800;
  color: #999999;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}