.kioskSection6 {
  position: relative;
  padding: 5% 10%;
  height: 200vh;
}

.kioskTitleContainer {
  position: absolute;
  top: 0;
  width: 80%;
  text-align: center;
  z-index: 2; /* 이미지 컨테이너보다 위에 표시 */
}

.kioskTitle {
  font-size: 2rem;
}

.kioskHorizontalScroll {
  position: absolute; /* 고정 위치 */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; /* 네이티브 스크롤바 숨김 */
  z-index: 1; /* 제목보다 아래에 표시 */
  padding: 5% 10%;
}

.kioskImageContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 100%;
  will-change: transform; /* 성능 최적화를 위한 속성 */
}

.kioskImageBox {
  width: 60vw; /* 상대 단위 사용 */
  flex-shrink: 0; /* 축소 방지 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.kioskImageBox img {
  width: 60vw;
  height: 70vh;
  object-fit: contain;
  display: block;
  border-radius: 50px;
}

.kioskTextContainer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.kioskTextContainer p {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}
