/* Section3One.module.css */
.section3One {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;
    padding: 3% 10%;
    font-family: 'Pretendard', sans-serif;
    height: 130vh;
}

.developmentPeriodContainer,
.developmentStackContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.projectNameContainer {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.developmentPeriodContainer {
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
}

.developmentPeriodContainer p {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    text-align: left;
}

.projectNameContainer h1 {
    font-size: 15rem;
    font-weight: 800;
    margin: 0;
}

.stackBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    border-radius: 40px;
    background-color: #151515;
    text-align: center;
    flex: 1;
    margin: 0 1%;
    height: 100%;
}

.logoRow,
.logoGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.logoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    width: 6.5rem;
    height: 6.5rem;
    color: #DEDEDE;
    background: transparent;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.iconText {
    font-size: 1.2rem;
    color: #797979;
    font-weight: 500;
}

.stackBox > .iconContainer,
.stackBox > .logoRow,
.stackBox > .logoGrid {
    margin-top: 15px;
}

/* 스택박스 제목을 위한 새로운 클래스 */
.stackTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 6px;
    color: #5c5c5c;
}