.개발과정Section8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* 섹션 간 간격 */
  padding: 20px;
}

.개발과정Container {
  width: 80%;
  padding: 20px;
  border-radius: 10px; /* 둥근 모서리 */
}

.개발과정Container p {
  font-size: 2rem;
  font-weight: 500;
}

.내용Wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* 텍스트와 이미지 간 간격 */
}

.문제이미지 {
  max-width: 200px; /* 이미지 너비 제한 */
  height: auto;
  border-radius: 10px; /* 둥근 모서리 */
}
