/* Section2.module.css */
.section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    border: 1px solid yellow; /* 외부 테두리 */
  }
  
  .profileContainer {
    flex: 1;
    margin-right: 10px;
    border: 1px solid yellow; /* 노란색 테두리 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .experienceContainer {
    flex: 2;
    margin-left: 10px;
    border: 1px solid yellow; /* 노란색 테두리 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  