.container {
  width: 100%;
  height: 200vh;
  position: relative;
}

.section2 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  position: relative; /* 수정된 부분 */
  top: 0;
  left: 0;
  padding: 0 10%;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.experienceContainer {
  grid-column: 2;
  position: relative; /* 부모 컨테이너를 relative로 설정 */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10%;
  width: 100%;
}

.nameContainer {
  height: auto;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.highlightName {
  font-size: 5rem;
  font-weight: 800;
}

.divider {
  width: 100%;
  border: none;
  border-top: 3px solid #636363;
  margin: 20px 0;
}


.selfIntroductionContainer,
.careerContainer {
  padding: 20px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  width: 100%; /* 부모 너비에 맞춤 */
  position: absolute; /* absolute 제거 */
}

.careerContainer p {
  margin: 5px 0;
  font-size: 2rem;
  font-weight: 600;
}

.selfIntroductionContainer p {
  margin: 5px 0;
  font-size: 2.3rem;
  font-weight: 600;
}

.highlight {
  font-weight: 800; /* 굵게 강조 */
  font-size: 4rem;
}