.developmentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* 섹션 간 간격 */
  padding: 5% 10%;
  height: 200vh;
  background-color: #202020;
}

.sectionTitle {
  font-size: 4rem; /* 큰 제목 크기 */
  font-weight: 900;
  color: #999999;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  width : 90%;
}


.developmentContainer {
  width: 80%;
  padding: 20px;
  border-radius: 100px; /* 둥근 모서리 */
  padding: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 */
}

.developmentContainer:hover {
  transform: scale(1.05); /* 5% 커짐 */
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2); /* 부드러운 그림자 */
}

.developmentContainer h2 {
  margin-bottom: 4%; /* 제목과 내용 간 간격 */
  color: white;
}

.developmentContainer p {
  font-size: 2.5rem;
  font-weight: 600;
  color: #999999;
}

.contentWrapper {
  display: flex;
  align-items: center;
  gap: 5%; /* 텍스트와 이미지 간 간격 */
}

.problemImage {
  max-width: 15%; /* 이미지 너비 제한 */
  height: auto;
  border-radius: 20px; /* 둥근 모서리 */
}

.emphasis {
  font-weight: bold; /* 텍스트 굵게 */
  color: white; /* 강조 색상 */
}
