/* Section3.module.css */
.section3 {
  display: flex;
  flex-direction: column;
  height: 220vh; /* 섹션 높이 220vh로 수정 */
  padding: 0 10%;
  overflow: hidden;
  box-sizing: border-box;
}

.sloganContainer {
  flex: 0 0 80vh; /* 상단 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 애니메이션을 위한 상대 위치 */
}

.sloganContainer p {
  font-size: 7rem;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.highlight {
  font-size: 6rem; /* 애니메이션 시작 폰트 크기와 일치 */
  font-weight: 700;
}

.problemContainer,
.solutionContainer {
  flex: 0 0 60vh; /* 각 컨테이너가 60vh 차지 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.problemImageContainer,
.solutionImageContainer,
.problemTextContainer,
.solutionTextContainer {
  flex: 1;
  padding: 10px;
}

/* 이미지 스타일 */
.problemImage,
.solutionImage {
  max-width: 70%;
  height: auto;
  object-fit: contain;
  border-radius: 40px;
}

/* 텍스트 스타일 */
.problemTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.problemTextContainer h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 5px 0;
}

.problemTextContainer p {
  font-size: 2rem;
  color: #A0A0A0;
  font-weight: 500;
  margin: 5px 0;
}

.solutionTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.solutionTextContainer p {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.4;
  margin: 5px 0;
}

.emphasize {
  color: #ffffff; /* 흰색으로 강조 */
}