/* src/components/Section6/Section6.module.css */

.kioskSection6 {
  position: relative;
  background-color: greenyellow;
  height: calc(100vh * 7); /* 이미지 개수에 따라 높이 조절 */
  overflow: hidden;
}

.kioskWrapper {
  display: flex;
  height: 100vh;
}

.kioskImageContainer {
  width: 50%;
  position: relative;
  background-color: pink;
  height: 100%;
}

.kioskImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  transition: opacity 1s ease, filter 1s ease;
}

.kioskDescriptionContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.kioskDescription {
  width: 80%;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
}

.kioskSubtitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.kioskDescription p {
  font-size: 2rem;
  color: #666;
}

/* 반응형 조정 */
@media (max-width: 1200px) {
  .kioskWrapper {
    flex-direction: column;
    height: auto;
  }

  .kioskImageContainer,
  .kioskDescriptionContainer {
    width: 100%;
    height: auto;
  }

  .kioskImage {
    max-width: 80vw;
    max-height: 60vh;
  }

  .kioskDescription {
    width: 90%;
  }

  .kioskSubtitle {
    font-size: 2rem;
  }

  .kioskDescription p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .kioskSubtitle {
    font-size: 1.5rem;
  }

  .kioskDescription p {
    font-size: 1.5rem;
  }
}
