@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #010111; /* 배경색 */
  color: #DEDEDE; /* 글자색 */
  font-family: 'Pretendard', sans-serif; /* 폰트 */
}
